.main-div {
    height: 100vh;
     border: 1px solid gray;
     margin-bottom: 10px;
  }
  
  .img-small {
    width: 400px; /* Adjust the size as needed */
    height: auto;
    margin-top: -320px;
    border: 1px solid gray;
    border-radius:10px
    
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    height: 22vh; /* Occupies 70% of the viewport height */
    padding: 10px;
    box-sizing: border-box;
     /* margin-top: px; */
  }
  
  .box {
    flex: 0 0 auto;
    width: 250px; /* Adjust the width as needed */
    margin: 10px;
    padding: 10px;
    background-image: linear-gradient(rgb(157, 170, 225), rgb(185, 176, 227));
    /* border: 1px solid #dee2e6; */
    text-align: center;
    
  }
  