.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.content li {
  list-style-type: none;
}
.content img {
  width: 300px;
  height: 300px;
}
